.jumbotron{

    color:white;
    text-align: center;
    font-family: 'Times New Roman';
    background: black;
    
}
.jumbotron-fluid{
    border-radius: 15px;
    border: white;
    border-style: solid;
    

}
div{
    text-align: center;
    align-content:center; 
}


h1{
    text-align: center;
    font-family: 'Aclonica';

}
.this{
    text-align: center;
}


