
.jumbotron{

    color:white;
    text-align: center;
    font-family: 'Aclonica';
    background: black;
    
}
h1{
    text-align: center;
    font-family: 'Aclonica';

}
.jumbotron-fluid{
    border-radius: 15px;
    border: white;
    border-style: solid;
    

}
.container{
    text-align: center;

}
.wrap {
    background-color: yellowgreen;
    color: white;
    width: 100%;
    height: auto;
}